/*
 * === The Footer styling ===
 */

/* Footer style... */
footer {
  text-align: center;
  background-color: white;
  border-top: 1px solid #cccccc;
  bottom: 0;
  display: flex;
  height: 60px;
  justify-content: center;
  position: fixed;
  line-height: 60px;
  width: 100%;
}
