/*
 * === This is Header styling ===
 */

/* The Header style */
header {
  background-image: url('../images/logo.png');
  border-bottom: 1px solid #cccccc;
  background-color: white;
  background-position: 20px 50%;
  height: 70px;
  width: 100%;
  background-repeat: no-repeat;
}
