/*
 * === This is the filter Filters class style ===
 */

 /* search bar style.. */
 div.container {
  margin: 30px auto;
  max-width: 1000px;
 }

/* Filters style.. */
section.filters {
  background-color: white;
  border: 1px solid #dddddd;
  border-radius: 4px;
  height: 70px;
  width: 100%;
}

/* Search button style */
section.filters button {
  background-color: #ff5a5f;
  border: 0;
  border-radius: 4px;
  color: #ffffff;
  float: right;
  font-size: 18px;
  height: 48px;
  margin: 11px 30px;
  width: 20%;
}

/* Search button hover opacity */
section.filters button:hover {
  opacity: .9;
}

/* Locations and amenities style */
.locations,
.amenities {
  float: left;
  height: 100%;
  width: 25%;
}

/* Locations border */
.locations {
  border-right: 1px solid #dddddd;
}

.locations h3,
.amenities h3 {
  margin-top: 20px;
  margin-bottom: 0px;
  font-size: 16px;
  font-weight: 600;
  margin-left: 30px;
  text-align: left;
}

.locations h4,
.amenities h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 14px;
  font-weight: 400;
  margin-left: 30px;
  text-align: left;
}


/* Locations and amenities popover menu */
.popover {
  background-color: #fafafa;
  border: 1px solid #dddddd;
  border-radius: 4px;
  display: none;
  position: relative;
  z-index: 1;
}

.popover h2{
  font-size: 16px;
}


/* Locations and amenities hover opacity */
.locations:hover .popover,
.amenities:hover .popover{
  display: block;
}

li {
  list-style-type: none;
  margin-bottom: 10px;
  margin-top: 10px;
}
