/*
 * === This is style Places class ===
 */

/* Places style class... */

.places {
  text-align: center;
}

.places h1 {
  text-align: left;
  font-size: 30px;
}

article {
  border: 1px solid #ff5a5f;
  border-radius: 4px;
  display: inline-block;
  margin: 20px;
  padding: 20px;
  width: 390px;
}

article  h2{
  font-size: 30px;
  text-align: center;
}